


<nav class="navbar fixed-top navbar-light" style="background-color: #d66b00;">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#home" style="color: #ffffff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#information" style="color: #ffffff;">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#university" style="color: #ffffff;">University</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flight" style="color: #ffffff;">Flight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#currency" style="color: #ffffff;">Currency</a>
        </li>

      </ul>      
    
</nav>

